@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
  max-width: 1440px;
  width: 100%;
  margin: auto;
   font-family: "Poppins", sans-serif;
}

.poppins-font {
  font-family: 'Poppins', sans-serif;
}



h1 {
  font-weight: 600;
  font-size: 52px;
  line-height: 65px;
}

h2 {
  font-weight: 600;
  font-size: 48px;
}

h3 {
  font-weight: 600;
  font-size: 40px;
}

h4 {
  font-weight: 600;
  font-size: 32px;
}

h5 {
  font-weight: 600;
  font-size: 24px;
}

h6 {
  font-weight: 600;
  font-size: 20px;
}

.subheading {
  font-weight: 400;
  font-size: 20px;
}

p {
  font-weight: 400;
  font-size: 16px;

}

.btn {
  cursor: pointer;
  font-size:16px;
}

.pry-btn {
  background: #B88E2F;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.sec-btn{
  background-color: #ffffff;
  color:  #B88E2F ;
  border: #B88E2F;
  border-style: solid;
  font-size: 20px;
  padding: 12px 74px;
  cursor: pointer;
}

.sec-btn:hover {
  background-color: #B88E2F;
  color: #ffffff;
  border-color: #B88E2F;
  transform: translateY(-5px);
}



.buyNowBtn {
  padding: 25px 72px;
  font-weight: 700;

}

.tert-btn{
  background-color: #ffffff;
  color: #9f9f9f;
  border: #000000;
  border-style: solid;
  font-size: 20px;
  padding:12px 30px;
  cursor: pointer;
}

.number-btn{
 background-color: #F9F1E7  ;
  color: #000000;
  border: none;
  padding: 15px 28px;
  border-radius: 15%;
  cursor: pointer;
}

.number-btn:hover{
  background-color: #B88E2F;
  color: #ffffff;
  transform: scale(1.3);
  transition: all 0.3s ease-in-out;

}

.large-btn{

  border: solid;
  border-width: 1px;
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 1rem;
  cursor: pointer;
}

.customLine{

border: none;         
  height: 0.75px;
  background-color: #000000;
  margin: 20px 0;
}

.customLine-vert{
  border: none;
  width: 2px;
  height: 60px;
  background-color: #9F9F9F;
  margin: 0 20px;

}

.input-text-box{
  padding: 20px;
  padding-right: 300px;
  border-radius: 10px;
}