.shop-hero{
width: 100%;
max-width: 1440px ;
background-image: url('../shop/img/shopHeroLogo.svg');
background-repeat: no-repeat;
height: 306px;
background-size: cover;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.homeShop{
display: flex;
align-items: baseline;
justify-content: center;
gap: 6px;

}




@media (max-width: 768px) {

  .shop-hero{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
  }



}