
footer {
  width: 100%;
  height: 505px;
}

/* .footerContainer {
 display: flex;
 justify-content: space-between;
 padding-left: 100px;
  padding-right: 206px;

} */

/* .actionLinks{
  display: flex;

  gap: 144px;
  
} */

.footActions{
  

  
}
