.home-hero {

  
  background-image: url('img/heroBackground.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 151px;
  padding-right: 58px;
  padding-bottom: 119px;
  margin-bottom: 56px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}



.s{
  color: #9ca3af;
}








.photo-container{
position: relative;
overflow: hidden;
}


.product-box{
  border-radius: 0px;
}

.product-box:hover{
  cursor: pointer;
  
  overflow: hidden;
  transform: translateY(-4px);

  border-color:#fff3e3 ;
  border-radius: 0.98rem;

}




.discount-sticker {
  position: absolute;
  top: 20px;
  right: 20px;
  
}


@media (max-width: 768px) {
  .home-hero {
    background-size: cover;
    background-position: center;
    padding-top: 120px;
    padding-bottom: 20px;
    height: 400px;
    justify-content: end;
    padding-right: 10px;
  }

  .discount-sticker{

    width: 25px;
  }
  
}