.home-hero {
  width: 100%;
  
  background-image: url('img/heroBackground.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 151px;
  padding-left: 739px;
  padding-right: 58px;
  padding-bottom: 119px;
  margin-bottom: 56px;
}


.mainCardContainer {
  padding-top: 64px;
  padding-bottom: 35px;
  padding-left: 39px;
  padding-right: 43px;
  background: #fff3e3;
  margin:0px;
}




.part2 {
  
  width: 1183px;
  display: grid;
  justify-self: center;

}


.rangeBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roomsBox {
  
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.part3{
  justify-items: center;
margin-top: 57px;
padding-bottom: 69px;
width: 100%;
}



.product {
  display: grid;
  gap: 32px;
  justify-content: center;
align-items: center;
  grid-template-columns: repeat(4, minmax( 0, 1fr));

}

.productPrice{
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 8px;
}

 s{
  color: #9ca3af;
}

.productInfo{
  display: grid;
  background-color: rgb(238, 247, 250);
}






.leviosa{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.4s ease;
}

.photo-container{
width: 250px;
height: 200px;
overflow: hidden;
}

.photo-container :hover{
  transform: scale(1.1);
  background-color:  #fff3e3 ;
  cursor: pointer;
  box-shadow: #9ca3af;
}




.discount-sticker {
  position: absolute;
  top: 20px;
  right: 20px;
  
}

