.info-box{
 display: flex;



}



.product-box{

 

}

.table-box{
display: flex;
flex-direction: column;


}

.table3{
  display: flex;
  flex-direction: column;
  
  
}


@media (max-width: 768px) {
  .table-box{
    
    
  }
}

