body{
/* height: 100%; */
background-color: blanchedalmond;
}


.labelContainer{
  display: flex;
flex-direction: row;
justify-content: space-around;
padding-top: 15px;
/* gap: 30px; */
/* margin-top: 20px; */
}

.serviceBox{

  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  justify-items: center;

}

