body{
height: 270px;
background-color: blanchedalmond;
}




.serviceBox{

  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* justify-items: center; */

}


.brand-box{
  display: flex;
  justify-content: space-between;
}

