

header {
  width: 100%;
  height: 100px;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 54px;
  margin: 0%;
  
}

.header-container{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

