

header {
  
  padding-top: 28px;
  padding-bottom: 28px;
  padding-right: 54px;
  padding-left: 54px;
  margin-bottom: 0px;
  position: fixed !important;
}

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}




@media (max-width: 768px) {
  header {

    padding-left: 20px;
    padding-right: 20px;
  
  }

  .header-container{
    display: flex;
justify-content: space-between;


  }
}

